<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="text-left">Turma: ADS0301M</h3>
      <h3 class="text-left">Análise e Desenvolvimento de Sistemas</h3>
      <h3 class="text-left">Turno: Manhã</h3>
      <h3 class="text-left">Unidade: Bonsucesso</h3>
    </div>
    <div class="col">
      <img src="matheus.jpg" class="rounded mx-auto d-block" alt="Desenvolvedor">
    </div>
    <div class="col">
      <h1>Matheus Bomfim Ferreira Fonseca</h1>
    </div>
  </div>
</div>